@font-face{
font-family:Roboto-Condensed;
rsc:url(https://rawcdn.githack.com/irvingqfb97/fuentes/cfea1370848233d1af322888e4996ef4d9ea8d38/Roboto-Condensed.woff);
}
h1{
font-family:Roboto-Condensed;
}